/*
 * Custom CSS
 */

:root {
  --bs-body-bg: var(--bs-gray-100);
}

.faq {
  width: 80%;
  margin: 0 auto;
}

details {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5em;
  margin-bottom: 1em;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details[open] {
  background-color: #eef;
}

#container {
  display: flex;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#container {
  flex-grow: 120px;
}

#container {
  align-items: stretch
}

.wrapper li {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 5px;
}

img {
  width: 120px;
  height: 120px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.my-navbar {
  display: flex !important;
  justify-content: end !important;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.img-carrousel {
  object-fit: initial;
  height: 787px;
}

body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease;
}

body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme {
  background: #202634 !important;
  color: #a9acb3 !important;
  ;
}

.boxed-text {
  border: 2px solid currentColor;
  padding: 15px;
  margin-top: 20px;
}

body.dark-theme #Navbar {
  background: #202634 !important;
  color: #a9acb3 !important;
}

body.dark-theme #Menu {

  filter: invert(48%) sepia(79%) saturate(1%) hue-rotate(86deg) brightness(118%) contrast(119%);

}

body.dark-theme .text-muted {
  color: #a9acb3 !important;

}

#carouselExampleCaptions {

  margin-bottom: 40px;
}

body.dark-theme .accordion-button::after {

  filter: invert(48%) sepia(79%) saturate(1%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

body.dark-theme .accordion-button {
  background: #293042 !important;
  color: #a9acb3 !important;
}

body.dark-theme .accordion-body {
  background: #202634 !important;
  color: #a9acb3 !important;
}

body.dark-theme .nav-link.active.nav-lang {
  background-color: #3f80ea;

}

#themeToggle {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

body.dark-theme .card {
  background: #202634 !important;
  color: #a9acb3 !important;
  box-shadow: 0 0 10px #5e94eb;

}

body.dark-theme .list-group-item {
  background: #202634 !important;
  color: #a9acb3 !important;

}

footer {
  margin-top: 70px;
  opacity: 0.7;
  font-size: 15px;
}

body.dark-theme .dark-theme-variant-1 {

  background: #202634 !important;
  color: #a9acb3 !important;
}

body.dark-theme .dark-theme-variant-2 {

  background: #293042 !important;
  color: #a9acb3 !important;
}

body.dark-theme .dark-theme-variant-3 {

  filter: invert(48%) sepia(79%) saturate(1%) hue-rotate(86deg) brightness(118%) contrast(119%);
}